---
layout: layouts/base.njk
---

{% set nav_override = false %}

{% if landing.sections and landing.sections.length %}
  {% for section in landing.sections %}
    
    {# Si la sección es nav, incluimos nav.njk y marcamos override #}
    {% if section.type == "nav" %}
      {% set nav_override = true %}
      {% include "partials/nav.njk" %}
    
    {# Otras secciones dinámicas #}
    {% else %}
     {% set section_data = section %}
     {% include "sections/" + section.type + ".njk" %}

    {% endif %}

  {% endfor %}
{% else %}
  <section>
    <div class="container">
      <h1>{{ landing.title }}</h1>
      <p>Agregá secciones desde el frontmatter (campo `sections`).</p>
    </div>
  </section>
{% endif %}
