<section id="benefits" class="section benefits">
  <div class="container">
    <h2 class="section-title">{{ section_data.title or "Beneficios de la energía escalar" }}</h2>
</br>
    <div class="grid grid--3">
      {% set animations = ['fade-up', 'fade-left', 'fade-right'] %}
      {% for item in section_data.items %}
        <div class="card benefit-card {{ animations[loop.index0 % animations | length] }} animate-on-scroll" style="--delay: {{ loop.index0 * 0.2 }}s;">
          <img src="{{ item.icon }}" alt="{{ item.title }}" class="benefit-icon"/>
          <h3>{{ item.title }}</h3>
          <p>{{ item.text }}</p>
        </div>
      {% endfor %}
    </div>


  </div>
</section>
